accelerate==1.1.1
aioboto3==13.2.0
aiobotocore==2.15.2
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aioitertools==0.12.0
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.6.2.post1
anytree==2.12.1
argcomplete==3.5.2
asttokens==2.4.1
attrs==24.2.0
autocommand==2.2.2
autograd==1.7.0
backports.tarfile==1.2.0
beartype==0.18.5
beautifulsoup4==4.12.3
boto3==1.35.36
botocore==1.35.36
bottleneck==1.4.2
brotli==1.0.9
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorclass==2.2.2
compressed-rtf==1.0.6
contourpy==1.3.1
cryptography==43.0.3
cycler==0.12.1
decorator==5.1.1
distro==1.9.0
docx2txt==0.8
easygui==0.98.3
easyprocess==1.1
ebcdic==1.1.1
entrypoint2==1.1
executing==2.1.0
extract-msg==0.52.0
fastapi==0.115.5
ffmpy==0.4.0
filelock==3.16.1
fonttools==4.55.0
frozenlist==1.5.0
fsspec==2024.10.0
gensim==4.3.3
gradio-client==1.5.0
gradio==5.7.1
graspologic-native==1.2.1
graspologic==3.4.1
greenlet==3.1.1
h11==0.14.0
hnswlib==0.8.0
httpcore==1.0.7
httpx==0.27.2
huggingface-hub==0.26.2
hyppo==0.4.0
idna==3.10
importlib-metadata==8.0.0
importlib-resources==6.4.0
inflate64==1.0.0
inflect==7.3.1
iniconfig==2.0.0
ipython==8.29.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
jinja2==3.1.4
jiter==0.7.1
jmespath==1.0.1
joblib==1.4.2
jsonpickle==4.0.0
kiwisolver==1.4.7
lark==1.1.9
lightrag-hku==1.0.1
llvmlite==0.43.0
lxml==5.3.0
markdown-it-py==3.0.0
markupsafe==2.0
matplotlib-inline==0.1.7
matplotlib==3.9.2
mdurl==0.1.2
mkl-fft==1.3.11
mkl-random==1.2.8
mkl-service==2.4.2
more-itertools==10.3.0
mpmath==1.3.0
msoffcrypto-tool==5.4.2
multidict==6.1.0
multivolumefile==0.2.3
nano-vectordb==0.0.4.3
neo4j==5.26.0
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
olefile==0.47
oletools==0.60.2
ollama==0.4.0
openai==1.55.0
oracledb==2.5.0
orjson==3.10.12
packaging==24.2
pandas==2.2.3
parso==0.8.4
patsy==1.0.1
pcodedmp==1.2.6
pdfminer.six==20240706
pillow==11.0.0
pip==24.2
platformdirs==4.2.2
playwright==1.49.0
pluggy==1.5.0
ply==3.11
pot==0.9.5
prompt-toolkit==3.0.48
propcache==0.2.0
psutil==6.1.0
pure-eval==0.2.3
pybcj==1.0.2
pycparser==2.22
pycryptodomex==3.21.0
pydantic-core==2.27.1
pydantic==2.10.1
pydub==0.25.1
pyee==12.0.0
pygments==2.18.0
pynndescent==0.5.13
pyparsing==3.2.0
pyppmd==1.1.0
pyqt5-sip==12.13.0
pyqt5==5.15.10
pysocks==1.7.1
pytest-base-url==2.1.0
pytest-playwright==0.6.2
pytest==8.3.4
python-dateutil==2.9.0.post0
python-dotenv==0.21.0
python-multipart==0.0.12
python-pptx==1.0.2
python-slugify==8.0.4
pytz==2024.2
pyvis==0.3.2
pyyaml==6.0.2
pyzstd==0.16.2
red-black-tree-mod==1.20
regex==2024.11.6
requests==2.32.3
rich==13.9.4
rtfde==0.1.2
ruff==0.8.1
s3transfer==0.10.4
safehttpx==0.1.6
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.12.0
seaborn==0.13.2
semantic-version==2.10.0
setuptools==75.1.0
shellingham==1.5.4
sip==6.7.12
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
soupsieve==2.6
speechrecognition==3.11.0
stack-data==0.6.3
starlette==0.41.3
statsmodels==0.14.4
sympy==1.13.1
tenacity==9.0.0
text-unidecode==1.3
textract-py3==2.1.0
texttable==1.7.0
threadpoolctl==3.5.0
tiktoken==0.8.0
tokenizers==0.20.3
tomli==2.0.1
tomlkit==0.12.0
torch==2.5.1
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
transformers==4.46.3
typeguard==4.3.0
typer==0.15.0
typing-extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
umap-learn==0.5.7
unicodedata2==15.1.0
urllib3==2.2.3
uvicorn==0.32.1
wcwidth==0.2.13
websockets==12.0
wheel==0.44.0
win-inet-pton==1.1.0
win-unicode-console==0.5
wrapt==1.17.0
xlrd==2.0.1
xlsxwriter==3.2.0
xxhash==3.5.0
yarl==1.18.0
zipp==3.19.2
